<% content_for :title, "Editing coach profile" %>

<h1>Editing coach profile</h1>

<%= render "form", coach_profile: @coach_profile %>

<br>

<div>
  <%= link_to "Show this coach profile", @coach_profile %> |
  <%= link_to "Back to coach profiles", coach_profiles_path %>
</div>
