<%= turbo_frame_tag "comments_count_#{post.id}" do %>
    <span class="text-gray-400 text-sm">
        <%= post.comments_count %> <%= 'comentário'.pluralize(post.comments_count) %>
    </span>
<% end %>