@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
  
}

input[type="password"]::-ms-reveal {
    display: none;
}

.login-btn {
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #4f46e5, #7c3aed);
    cursor: pointer;
    
}

.login-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #64748b;
}


.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #e2e8f0;
}

.divider::before {
    margin-right: 1rem;
}

.divider::after {
    margin-left: 1rem;
}